.acerca__boton{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.acerca__boton:hover{
    background-color: #fff;
    box-shadow: none;
}